<h1>予約内容確認</h1>

<%= form_for @reserve do |f| %>
  <%= @reserve.begin %>
  <%= @reserve.end %>
  <div class="actions">
    <%= f.submit '投稿画面に戻る', name: 'back' %>
  </div>
  <div class="actions">
    <%= f.submit '予約を完了する' %>
  </div>
<% end %>
    

<%= link_to '戻る', :back %>