<h1>予約内容確認</h1>

<%= form_with model: @reserve, url:new_reserf_path, local: true do |f| %>
       <p>¥<%= @room.room_price %>/日</p>
      <table>
        <tr>
          <th>チェックイン</th>
          <td><%= @reserve.begin %></td>
        </tr>
 
        <tr>
          <th>チェックアウト</th>
          <td><%= @reserve.end %></td>
        </tr>
 
        <tr>
          <th>人数</th>
          <td><%= @reserve.number_of_peple %></td>
        </tr>
      </table>
      
      <%= hidden_field_tag :room_id, @room.id %>
 
      <div>
        <ul>
          <li><%= f.submit "予約する"%></li>
        </ul>
      </div>
<% end %>

<footer class="footer">
        <p>© 2020 POTEPAN.INC.</p>
</footer>
