<h1>予約可能部屋一覧</h1>

    <% @rooms.each do |room| %>
      <table>
        <tr>
          <th>ルーム名</th>
          <td><%= room.room_name %></td>
          <th>ルーム情報</th>
          <td><%= room.introduction %></td>
          <th>料金</th>
          <td><%= room.room_price %></td>
          <td><%= link_to "確認する", room %></td>
        </tr>
      </table>
    <% end %>
    
   
    <p><%= link_to "ルーム情報新規登録", :new_room %></p>