<h1>予約済み部屋一覧</h1>

    <% @reserves.each do |reserve| %>
      <table>
        <tr>
          <th>ルーム名</th>
          <td><%= reserve.room.room_name %></td>
          <th>開始日</th>
          <td><%= reserve.begin %></td>
          <th>終了日</th>
          <td><%= reserve.end %></td>
          <th>人数</th>
          <td><%= reserve.number_of_peple %></td>
          <td><%= link_to "確認する", reserve %></td>
        </tr>
      </table>
    <% end %>
   
    <p><%= link_to "ルーム情報新規登録", :new_room %></p>