<h1>部屋一覧</h1>

<table>
      <thead>
        <tr>
          <th>投稿内容</th>
          <th>更新日時</th>
          <th>投稿日時</th>
          <th>投稿者(User_id)</th>
        </tr>
      </thead>
      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td><%= post.content %></td>
            <td><%= post.updated_at.to_s(:datetime_jp) %></td>
            <td><%= post.created_at.to_s(:datetime_jp) %></td>
            <td><%= post.user_id %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
 
    <p><%= link_to "ユーザー新規登録", :new_user %></p>