<h1>プロフィール編集</h1>
    
    <%= form_with model: @user, url:users_profile_path, method: :post, local: true do |f| %>
      <table>
        <tr>
          <th>アイコン画像</th>
          <td><%= f.file_field :user_image %></td>
        </tr>
 
        <tr>
          <th><%= f.label :user_name ,"名前" %></th>
          <td><%= f.text_field :user_name %></td>
        </tr>
 
        <tr>
          <th><%= f.label :user_introduction ,"自己紹介" %></th>
          <td><%= f.text_field :user_introduction %></td>
        </tr>
      </table>
      
      <%= hidden_field_tag :user_id, @user_id %>
 
      <div>
        <ul>
          <li><%= f.submit "更新する"%></li>
          <li><%= link_to "トップページに戻る", root_path %></li>
        </ul>
      </div>
    <% end %>
<%= link_to '戻る', rooms_path %>

<footer class="footer">
  <p>© 2020 POTEPAN.INC.</p>
</footer>