<%= render "shared/header" %>

<ul class="side-link">
  <li><%= link_to "アカウント設定", edit_user_registration_path %></li>
  <li><%= link_to "プロフィール設定", '/users/profile' %></li>
</ul>
  
    <div class="view-back">
      <div class="view-new"> 
      
        <h1 class="page-tittle">プロフィール編集</h1>
        
          <%= form_with model: @user, url:users_profile_path, method: :post, local: true do |f| %>
            <div class="form-list">
              <table>
                <tr>
                  <th>アイコン画像</th>
                  <td><%= f.file_field :image %></td>
                </tr>
         
                <tr>
                  <th><%= f.label :user_name ,"名前" %><span>必須</span></th>
                  <td><%= f.text_field :user_name %></td>
                </tr>
         
                <tr>
                  <th><%= f.label :user_introduction ,"自己紹介" %></th>
                  <td><%= f.text_field :user_introduction %></td>
                </tr>
              </table>
            </div>
            
            <%= hidden_field_tag :user_id, @user_id %>
       
            <div class="button"><%= f.submit "更新する"%></div>
        
          <% end %>
      </div>
    </div>

<footer class="footer">
  <p>© 2020 POTEPAN.INC.</p>
</footer>