<h1>トップページ</h1>

<%= link_to "ログイン", new_user_session_path%>
<%= link_to "新規登録", new_user_registration_path%>
<%= link_to "ユーザー編集", edit_user_registration_path%>
<%= link_to "登録済ルーム一覧、予約できる部屋一覧", rooms_path%>
<%= link_to "部屋登録", new_room_path%>
<%= link_to "完了", reserves_confirm_path%>

<%= link_to "トップページへ戻る", root_path %>

<!-- ログアウト用のリンク　そのままコピー -->
<%= link_to 'ログアウト', 
  destroy_user_session_path,
  class: 'dropdown-item',
  method: :delete%>

<div class='post index'>
   <div class="notifications">
    </div>
    <div class="top">
    <div class="top-main">
        <div class="container">
            <div class="row col-lg-6">
                <div class="form-fream">
                    <div class="form-area">
                        
                        <p class="form-area-title mb-4">Potepan Shareでまだ体験したことのない旅をしよう</p>
                 
                         <div class="search-form">
                            <p>エリア</p>
                        <!-- あとで追加 -->
                        </div>   
                                       
                    </div>



                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="panel-area m-5">
            <h1 class="section-title">おすすめのエリア</h1>
            <div class="row">
                <div class="panel-item col-lg-3 col-6">
                    
                    <span>東京</span>
                    <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg",width: "240px",height: "140px" ,class:"panel-image" ),rooms_path(q: {area_cont: "東京"})%>
                    <div class="shadow"></div>
                </div>
                <div class="panel-item col-lg-3 col-6">
                    <span>大阪</span>
                    <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg",width: "240px",height: "140px" ,class:"panel-image" ),rooms_path(q: {area_cont: "大阪"})%>
                    <div class="shadow"></div>
                </div>
                <div class="panel-item col-lg-3 col-6">
                    <span>京都</span>
                    <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg/",width: "240px",height: "140px" ,class:"panel-image shadow" ),rooms_path(q: {area_cont: "京都"})%>
                    <div class="shadow"></div>
                </div>
                <div class="panel-item col-lg-3 col-6">
                    <span>札幌</span>
                   <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg",width: "240px",height: "140px" ,class:"panel-image" ),rooms_path(q: {area_cont: "札幌"})%>
                    <div class="shadow"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>