<%= render "shared/header" %>

<h1>部屋一覧</h1>

    <table>
      <tbody>
        <% @rooms.each do |room| %>
        <tr>
          <td>
            <% if room.image.url%>
              <%= image_tag room.image.url ,width: "330px",height: "180px" %>
            <%else%>
             <p>画像がありません</p>
            <%end%>
          </td>
          <th>ルーム名</th>
          <td><%= room.room_name %></td>
          <th>住所</th>
          <td><%= room.address %></td>
          <th>料金</th>
          <td><%= room.room_price %></td>
          <td><%= link_to "削除", room, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
          <td><%= link_to "予約する", room %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
 
 <footer class="footer">
  <p>© 2020 POTEPAN.INC.</p>
</footer>