<h1>部屋情報</h1>

   <table>
     <tr>
        <td><%= image_tag @room.image.url, :size =>'750x430'%></td>
      </tr>
      <tr>
        <th>ルーム名</th>
        <td><%= @room.room_name %></td>
      </tr>
      <tr>
        <th>ルーム情報</th>
        <td><%= @room.introduction %></td>
      </tr>
      <tr>
        <th>料金</th>
        <td><%= @room.room_price %></td>
      </tr>
      <tr>
        <th>都道府県</th>
        <td><%= @room.room_area %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @room.address %></td>
      </tr>
    </table>
    
     <%= form_with model: @reserve, url:reserves_confirm_path, local: true do |f| %> <!--ルーティングエラー：url:飛ばしたいパス-->
       <p>¥<%= @room.room_price %>/日</p>
      <table>
        <tr>
          <th><%= f.label :begin ,"開始日" %></th>
          <td><%= f.date_field :begin, min: Date.current%></td>
        </tr>
 
        <tr>
          <th><%= f.label :end ,"終了日" %></th>
          <td><%= f.date_field :end, min: Date.current%></td>
        </tr>
 
        <tr>
          <th><%= f.label :number_of_peple ,"人数" %></th>
          <td><%= f.number_field :number_of_peple, min: 1 %></td>
        </tr>
      </table>
      
      <%= f.hidden_field :room_id, value: @room.id %>
 
      <div>
        <ul>
          <li><%= f.submit "予約する"%></li>
        </ul>
      </div>
    <% end %>
 
    <p><%= link_to "トップページへ戻る", root_path %></p>

<footer class="footer">
  <p>© 2020 POTEPAN.INC.</p>
</footer>